@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.gradient-text {
    background: linear-gradient(180deg, #FFFFFF 0%, #949494 100%);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
  
  .gradient-text span {
    color: #FF387A;
    -webkit-background-clip: initial;
    background-clip: initial;
    -webkit-text-fill-color: #FF387A;
  }